__pycache__/
.ipynb_checkpoints/
Postgres/Project/Django/django/
Postgres/Project/data/
Cassandra/Project/event_data/
Data Warehouses/Pagila/Data/
Spark/Project/data/
*.cfg
*.csv
*.env
*.gz
*.json
*.pem
*.sh
*.zip
*.yaml