__pycache__/
.ipynb_checkpoints/
Postgres/Project/Django/django/
Postgres/Project/data/
Cassandra/Project/event_data/
Data Warehouses/Pagila/Data/
Spark/Project/data/
*.cfg
*.csv
*.docx
!uc28-inspection/frontend/public/documents/CR_Audit_nov_2024.docx
*.env
*.gz
*.json
*.parquet
*.pem
*.sh
*.zip
*.yaml